<div class="container">
    <div class="row">
        <div class="col-md-12 my-4 p-4">
            <button class="btn btn-lg btn-success" id="ihclgr">Create Project</button>
        </div>
    </div>
    <div class="row">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title id="i0tser">
                    My Applications
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider class="my-3" id="divider"></mat-divider>
            <div class="row" id="mat_body">
                <div class="col-md-3" *ngFor="let proj of myAllProjects; let i = index">
                    <div class="sitecard">
                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/559d1b1a2a2e46f2b13cc91778b31740_new1.png" alt="">
                        <div class="d-flex justify-content-around">
                            <div class="p-2 bd-highlight">
                                <mat-icon class="base-icon">edit</mat-icon>
                            </div>
                            <div class="p-2 bd-highlight">
                                <mat-icon class="base-icon">note</mat-icon>
                            </div>
                            <div class="p-2 bd-highlight">
                                <mat-icon class="base-icon">delete</mat-icon>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-4" *ngIf="myAllProjects.length === 0">
                    No Projects Available.
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title id="i0tse">
                    Geppetto Sample Application
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider class="my-3" id="divider"></mat-divider>
            <div class="row" id="mat_body">
                <div class="col-md-3" *ngFor="let proj of myAllProjects; let i = index">
                    <div class="sitecard">
                        <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/8f78dc7e55f348c48c391196335958b5_new2.png" alt="">
                    </div>
                    <br>
                </div>
                <div class="col-md-4" *ngIf="myAllProjects.length === 0">
                    No Projects Available.
                </div>
            </div>
        </mat-expansion-panel>

    </div>
</div>