<div class="{{dropDownData.attributes.id}}">
{{#each dropDownData.components}}
    <ng-select class="{{cssClassName}}" [searchable]="true" [virtualScroll]="true" class="{{attributes.id}}"
        name="{{name}}"></ng-select>
{{/each}}
</div>