<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/base.css">
</head>

<body id="wrapper">
    <meta charset="UTF-8" id="template-irve" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" id="template-ipar" />
    <meta http-equiv="Pragma" content="no-cache" id="template-ibdr" />
    <meta http-equiv="Expires" content="0" id="template-iptc" />
    <meta name="viewport" content="width=device-width, initial-scale=1" id="template-i6k2" />
    <meta name="description" content="This is a sample HTML created by GEPPETTO" id="template-izla" />
    <meta name="author" content="GEPPETTO" id="template-i6ws" />
    <meta name="keywords" content="geppetto,web,development" id="template-i55a" />
    <title id="template-iylf">Geppetto
    </title>
    <base href="/" id="template-ivvn" />
    <meta name="viewport" content="width=device-width, initial-scale=1" id="template-ikdx" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        id="template-iwsj" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        id="template-i0xxw" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" id="template-itbbj"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" id="template-iu8eq"></script>
    <script id="template-i29cx">      
        function openNav() {
            document.getElementById("mySidenav").style.width = "18%";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <nav id="template-i090p" class="navbar navbar-inverse">
        <div id="template-iyoc4" class="navbar-header">
            <span onclick="openNav()" id="in2oj" class="">
                <i class="fa fa-bars" aria-hidden="true"></i></span>

            <button type="button" data-toggle="collapse" data-target="#myNavbar" id="template-ioico"
                class="navbar-toggle">
                <span id="template-iy169" class="icon-bar">
                </span>

                <span id="template-ivo7o" class="icon-bar">
                </span>

                <span id="template-ihry1" class="icon-bar">
                </span>

            </button>
            <a [routerLink]="['/home']" id="template-io1pk" class="navbar-brand">
                GEPPETTO</a>

        </div>
        <div id="myNavbar" class="collapse navbar-collapse">
            <ul id="template-ionqz" class="nav navbar-nav navbar-right">
                <li id="template-ivm2e" class="active">
                    <a [routerLink]="['/']" id="template-iz682" class="">
                        Home</a>

                </li>
            </ul>
        </div>
        <div id="mySidenav" class="sidenav">
            <a [routerLink]="['javascript:void(0)']" onclick="closeNav()" id="template-if7ki" class="closebtn">
                <i class="fa fa-close size-30" aria-hidden="true"></i></a>

            <div id="MainMenu" class="">

            </div>
        </div>
    </nav>
    <header id="template-io8gv">
        <div id="template-iqtiy" class="container">
            <div id="template-iulmb" class="row">
                <div id="template-ichmx" class="col-lg-12">
                    <h1 id="template-isrlz" class="geppettoHeader">GEPPETTO TEMPLATE
                    </h1>
                    <span id="template-i0cef">This is an HTML template developed by
                        GEPPETTO</span>
                </div>
            </div>
        </div>
    </header>
    <section id="template-ixzbd">
        <div id="template-i1op4" class="container">
            <div id="template-ic28d" class="row">
                <div id="template-irc61" class="col-lg-12">
                    <h2 id="template-ivikk" class="contentTitle">Content Title
                    </h2>
                    <hr id="template-i2clp" />
                </div>
            </div>
            <div id="template-ih0eg" class="row">
                <div id="template-iv38l" class="col-lg-6">
                    <p id="template-i2obh">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ratione quo
                        alias fugit maiores
                        enim odio amet, harum provident necessitatibus, error eveniet iste non voluptatibus dolore rem
                        voluptates deleniti quos?
                    </p>
                    <a id="template-ie5vy"></a>
                </div>
                <div id="template-injql" class="col-lg-6">
                    <p id="template-iuxz1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ratione quo
                        alias fugit maiores
                        enim odio amet, harum provident necessitatibus, error eveniet iste non voluptatibus dolore rem
                        voluptates deleniti quos?
                    </p>
                    <button id="template-iu6hv" class="btn btn-default">Read More</button>
                </div>
            </div>
        </div>
    </section>
    <footer id="template-i0wmf">
        <div id="template-inmrf" class="container">
            <div id="template-izddy" class="row">
                <div id="template-izxyk" class="footer-col col-md-4">
                    <h3 id="template-iv2y9">Location
                    </h3>
                    <p id="template-itgmk">Maitland, FL 32751-5515
                        <br id="template-iovmr" />Email : info@geppettosoftware.com
                    </p>
                </div>
                <div id="template-is0vg" class="footer-col col-md-8">
                    <h3 id="template-i8zah">About Geppetto
                    </h3>
                    <p id="template-inb4l">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum incidunt
                        reprehenderit placeat,
                        animi quo perferendis magni doloremque tempore autem ut maiores, molestias vero repellat earum
                        optio similique deleniti explicabo sint?.
                    </p>
                </div>
            </div>
        </div>
        <div id="template-iw89d" class="container">
            <div id="template-i90bn" class="row">
                <div id="template-itzip" class="col-lg-12">Copyright © GEPPETTO 2021
                </div>
            </div>
        </div>
    </footer>
</body>

</html>