# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/log
log/
dist/
.DS_Store

# dependencies
/node_modules
package-lock.json

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
node_modules/

# System Files
Thumbs.db
.DS_Store

generator/services/auth-gen-manager/package-lock\.json

generator/services/configurationmanager/package-lock\.json

generator/services/datastore-manager/package-lock\.json

generator/services/mongo-gen-manager/package-lock\.json

generator/services/node-gen-manager/package-lock\.json

generator/services/angular-gen-manager/package-lock\.json

application/services/fredmanager/package-lock.json

application/services/seedmanager/package-lock.json
generator/services/frontend-gen-manager/package-lock.json
generator/services/ionic-manager/package-lock.json
generator/services/angular-template-manager/package-lock.json

