.goToButton {
  background-color: green;
  color: white;
}

.btn_color {
  background-color: #033668;
  border-bottom: 3px solid #033668;
}

.btn_color:hover {
  background-color: #39a521;
  border-bottom: 3px solid #2d831a;
}