<footer>
    <div class="container">
        <div class="row top_row">
            <div class="col-lg-6 mobile_view">
                    <img class="footer_img" src="/assets/img/skin/logo-geppetto.svg" />
                <h3>FASTEST WAY TO CREATE APPLICATIONS</h3>
                <div>
                    <dd> 151 N Maitland AVE STE 941096
                      Maitland, FL 32751-5515</dd>
                    <dd><a>info@geppettosoftware.com</a></dd>
                    <dd><a>001 (863) 888-0152</a></dd>
                  </div>
            </div>
            <div class="col-lg-6">
                <h4>Subscribe to our updates</h4>
        <div class="md-form form-group w-60">
          <input type="text"  class="form-control" placeholder="Your Email">
        </div>
        <br>
        <button class="btn btn-success">Subscribe</button>
            </div>
        </div>
    </div>
</footer>
