.cardsize{
    max-width: 40em;
    text-align: center;
    height: 30em;
    left: 33em;
    margin-top: 16em;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 8em;
    background: grey;
}
.name{
    text-align: center;
    padding-top: 5em !important;
}
.password{
    text-align: center;
}
.loginname{
    margin-top: 5em ;
    text-align: center;
}
