<div class="container">
  <br />
  <h1 style="text-align: center;">Feature Details</h1>
  <br />
  <br />
  <div>
    Selected Feature : {{selectedFeatureName}}
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Entities </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="margin-left: 64rem;">
          <button class="createEntityButton" mat-raised-button color="primary" (click)="saveEntityModel()">Add
            Entity</button>
        </div>
        <div class="row" style="margin: 0px;">
          <div class="col-md-4" *ngFor="let entity of featureEntityDetails; let i = index">
            <div class="card mt-sm-3">
              <div class="card-header">
                {{entity.name}}
                <img *ngIf="!entity.is_default" style="float: right; cursor: pointer;" (click)="editEntity(entity)"
                  src="https://img.icons8.com/metro/26/000000/edit-file.png">
              </div>
              <div class="card-body">
                <div><span>{{entity.description}}</span></div>
                <br />
                <button mat-raised-button color="primary" (click)="editEntityField(entity)">Edit</button>
                &nbsp;&nbsp;
                <button mat-raised-button color="warn" [disabled]="entity.is_default"
                  (click)="openDeleteModel(entity)">Delete</button>
                <!-- &nbsp;
                <button mat-raised-button color="warn" [disabled]="entity.is_default"
                  (click)="openDeleteModel(entity)">Delete</button> -->
              </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="featureEntityDetails.length === 0">
            No Entity Available.
          </div>
        </div>
        <!-- <div class="float-right">
          <button class="btn btn-primary" (click)="openScreenModal()">Add Screens</button>
        </div> -->
        <!-- <div class="row" style="margin: 0px;">
          <div class="col-md-4" *ngFor="let screen of screens">
            <div class="card">
              <div class="card-header">
                {{screen.screenName}}
              </div>
              <div class="card-body">
                <button class="btn btn-primary" (click)="getAllFeatureFlows(screen.screenName)">See Flows</button>
              </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="screens.length === 0">
            No Available.
          </div>
        </div> -->

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Screens </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card-content>

          <button class="btn btn-success float-right" mat-raised-button (click)="GoToDesigner()">Add Screen</button>
        </mat-card-content>
        <div class="row" style="margin: 0px;">
          <div class="col-md-4" *ngFor="let screen of screenDetails; let i = index">
              <div class="card">
                  <div class="card-header">
                      {{screen?.screenName}}
                      <img  style="float: right; cursor: pointer;"
                          src="https://img.icons8.com/metro/26/000000/edit-file.png">
                  </div>
                  <div class="card-body">
                      
                      <button mat-raised-button color="primary"  (click)="editScreen(screen._id, screen.screenType)"
                          >Edit</button>
                      &nbsp;
                      <button mat-raised-button color="warn" (click)="deleteScreen(screen._id)"
                       [disabled]="entity.is_default"
                          >Delete</button>
                  </div>
              </div>
              <div class="card-body">

                <button mat-raised-button color="primary" (click)="editScreen(screen._id)">Edit</button>
                &nbsp;
                <button mat-raised-button color="warn" (click)="deleteScreen(screen._id)"
                  [disabled]="entity.is_default">Delete</button>
              </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="screenDetails.length === 0">
            No Screen Available.
          </div>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Feature Flows </mat-panel-title>
        </mat-expansion-panel-header>
        <button class="btn btn-info ml-sm-3 float-right" (click)="openFeatureFlowDialog(feature_id)">Add
          Flows</button>
        <div class="flowTable mt-sm-3" *ngIf="featureFlowRowData.length>0">
          <ag-grid-angular #agGrid style="width: 100%; height: 100%; margin-top: 50px;" id="myGrid"
            class="ag-theme-balham" domLayout='autoHeight' [columnDefs]="columnDefs" [rowSelection]="rowSelection"
            [rowData]="featureFlowRowData" [animateRows]="true" [suppressRowClickSelection]="true"
            [defaultColDef]="defaultColDef" (rowSelected)=selectedFeatureFlow($event)
            [frameworkComponents]="frameworkComponents" (gridReady)="onFlowGridReady($event)">
          </ag-grid-angular>
        </div>

        <div class="flowTable mt-sm-3" *ngIf="showFeatureFlowComp">
          <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" [defaultColDef]="defaultColDef"
            domLayout='autoHeight' (rowSelected)="selectFlowComponent()" [animateRows]="true" class="ag-theme-balham"
            [columnDefs]="fcompColDefs" [rowData]="flow_comp" [rowSelection]="rowSelection"
            (gridReady)="onFCGridReady($event)">
          </ag-grid-angular>
        </div>

        <div class="flowTable mt-sm-3" *ngIf="showFeatureFlowComponent">
          <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham"
            domLayout='autoHeight' [columnDefs]="columnFeatureDefs" [rowSelection]="rowSelection"
            [rowData]="rowFlowCompData" [animateRows]="true" [defaultColDef]="defaultColDef"
            (gridReady)="onFlowCompGridReady($event)">
          </ag-grid-angular>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>


<div id="EventPopup" class="modal" tabindex="-1" role="dialog"
  [ngStyle]="{'top': '100px','display':displayFeatureFlowModal}">
  <div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
                <h3>Select Flow for Feature</h3>
                <button type="button" class="close" (click)="closeFeatureFlowModal()" data-dismiss="modal"
                    aria-hidden="true">x</button>
            </div> -->
      <div class="modal-body">

        <div class="container">
          <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham"
            [columnDefs]="columnFlow" [rowSelection]="rowSelectionFlow" [rowData]="rowData"
            [rowMultiSelectWithClick]="true" [animateRows]="true" [defaultColDef]="defaultColDef" domLayout='autoHeight'
            [pagination]="true" [paginationPageSize]="10" [floatingFilter]="true"
            (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)">
          </ag-grid-angular>

          <!-- <form class="m-3" [formGroup]="eventFlows">
    <div class="form-group row">
    <label for="column">Choose an Event</label>
    <select class="form-control" id="column" formControlName="selectEvent" [ngClass]="{ 'is-invalid': submitted && form_control.selectColumn.errors }">
    <option value="" selected>none</option>
    <option *ngFor="let flows of listOfFLows" [ngValue]="flows?._id">{{ flows?.label }}</option>
    </select>
    <div *ngIf="submitted && form_control.selectEvent.errors" class="invalid-feedback">
    <div *ngIf="form_control.selectEvent.errors.required">This field is required
    </div>
    </div>
    </div>
    </form> -->
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="saveFeatureFlow()">Save</button>
          <button type="button" class="btn btn-danger" (click)="closeFeatureFlowModal()">cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display':deletePopup}">
  <div class="modal-dialog modal-sm" role="dialog">
      <div class="modal-content">
          <!-- <div class="modal-header">
  <h6 class="modal-title">Delete</h6>
  <button type="button" class="close">&times;</button>
  </div> -->
          <div class="delete modal-body">
              <p>Please click confirm to delete this project ? </p>
          </div>
          <div class="modal-footer" style="padding: 5px">
              <button type="button" class="btn btn-default" (click)="deleteEntity()">Confirm</button>
              &nbsp;
              <button type="button" class="btn btn-default" (click)="closeDeleteModel()">Cancel</button>
          </div>
      </div>

  </div>
</div>