<div class="container">
  <br />
  <h1 style="text-align: center;">Feature Details</h1>
  <br />
  <br />
  <div>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Screens </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- <div style="padding-right: 20px;">
          <button class="btn btn-primary">Ticket Creation
          </button>
          <button class="btn btn-primary ml-sm-2">Ticket Details
          </button>
        </div> -->
        <div class="row" style="margin: 0px;">
          <div class="col-md-4" *ngFor="let name of screen">
            <div class="card">
              <div class="card-header">
                {{name}}
              </div>
              <div class="card-body">
                <button class="btn btn-primary" (click)="showFlow()">See Flows</button>
              </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="screen.length === 0">
            No  Available.
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="flowTable mt-sm-5" *ngIf="showFeatureFlow">
    <h1>Feature Flow</h1>
    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
      [rowSelection]="rowSelection" [rowData]="rowData" [animateRows]="true" [defaultColDef]="defaultColDef"
       (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>

  <div class="flowTable mt-sm-5" *ngIf="showFeatureFlowComponent">
      <h1>Feature Flow Components</h1>
    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham" [columnDefs]="columnFeatureDefs"
      [rowSelection]="rowSelection" [rowData]="rowFlowCompData" [animateRows]="true" [defaultColDef]="defaultColDef"
       (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
