* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body {
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  background-color: #ffffff;
  font-size: 22px;
}

.gpd-clm {
  padding: 5px 0;
}

.gpd-grid {
  min-height: auto;
  padding: 10px 0;
}

.gpd-cnt {
  padding: 0;
}

.btn.btn-primary {
  background-color: #00789a;
  border: 0 solid rgb(0, 93, 192);
  padding: 6px 20px 6px 20px;
  transition: background-color 0.2s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.header1 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  min-height: 50px;
  color: #444;
  background-color: #fff;
}

.menu-container {
  display: inline-block;
  vertical-align: middle;
}

.menu {
  padding: 3px 0;
  display: block;
  margin: 0;
}

.menu-link {
  margin: 0;
  color: inherit;
  opacity: 0.75;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  transition: opacity 0.25s;
}

.menu-link:hover {
  opacity: 1;
}

.burger {
  margin: 5px 0 0;
  width: 45px;
  padding: 5px 10px;
  display: none;
  float: right;
  cursor: pointer;
}

.burger-line-dark {
  padding: 1px;
  background-color: #444;
  margin: 5px 0;
}

#iaoh {
  padding: 0;
}

#iiul {
  min-height: 10px;
}

#ig7k {
  min-height: 10px;
}

#i0bnl {
  min-height: 0;
  text-align: right;
}

#imr1u {
  color: black;
}

#ivmxz {
  font-size: 18px;
  font-family: Helvetica, serif;
  font-weight: 400;
  padding: 10px 35px 10px 25px;
}

#i4hdm {
  font-family: Helvetica, serif;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 25px 10px 25px;
}

#iz9f5 {
  font-size: 18px;
  font-weight: 400;
  font-family: Helvetica, serif;
  padding: 10px 25px 10px 25px;
}

#ikuni {
  padding: 0 0 0 0;
  background-color: #f9f9f9;
  border-radius: 30px 30px 30px 30px;
}

#ij4zu {
  padding: 50px 10px 40px 60px;
  margin: 55px 0 0 0;
  border-radius: 0 0 0 0;
  display: none;
}

#iwbpg {
  text-align: left;
  font-family: Georgia, serif;
  font-size: 50px;
  margin: 90px 0 0 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 0 0 0;
}

#ikjmp {
  color: #ffffff;
  background-color: #676fa3;
  font-family: Helvetica, serif;
  padding: 10px 25px 10px 25px;
  border-radius: 10px 10px 10px 10px;
}

#ijq9g {
  text-align: left;
  padding: 0 0 0 0;
  color: #212529;
  width: auto;
  display: inherit;
  font-size: 24px;
  margin: 10px 0 16px 2px;
  font-weight: 500;
  line-height: 25.5px;
  border: 0 solid #212529;
}

.footer2 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.85rem;
  font-weight: 200;
  padding-top: 70px;
  padding-bottom: 50px;
  color: white;
  background-color: #271d40;
}

#idnvzh {
  display: none;
}

#i106qk {
  display: none;
}

#idfway {
  pointer-events: none;
  fill: currentColor;
}

#ie3omz {
  pointer-events: none;
  fill: currentColor;
}

#ih4mio {
  pointer-events: none;
  fill: currentColor;
}

#ih30jm {
  margin: 0 0 0 0;
  border: 0 solid #f9f9f9;
  color: #a5a5a5;
  background-color: #f9f9f9;
}

#ijq9g {
  text-align: left;
  padding: 0 0 0 0;
  color: #212529;
  width: auto;
  display: inherit;
  font-size: 24px;
  margin: 10px 0 16px 2px;
  font-weight: 500;
  line-height: 25.5px;
}

#ixwrns {
  text-align: left;
  padding: 0 0 0 0;
  color: #a5a5a5;
  width: auto;
  display: inherit;
  font-size: 14px;
  margin: 10px 0 16px 0;
  font-weight: 400;
}

#it0zgy {
  color: #212529;
}

#i1861j {
  color: #212529;
}

#ij7a3m {
  margin: 13px 0 0 0;
  background-color: #676fa3;
  border-radius: 3px 3px 3px 3px;
}

#i3cczb {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: 400;
}

#iak4ml {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: 400;
}

#ijk0p8 {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: 400;
}

#iav70w {
  text-align: left;
  font-family: Georgia, serif;
  font-size: 34px;
  margin: 0 0 0 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 0 0 0;
  color: #fafafa;
  width: 80%;
}

#ifvtbk {
  text-align: left;
  padding: 0 0 0 0;
  color: #a5a5a5;
  width: 75%;
  display: inherit;
  font-size: 17px;
  margin: 6px 0 10px 0;
  font-weight: 400;
  line-height: 34px;
}

#iscl39 {
  flex-direction: column;
  padding: 0 0 0 0;
}

#iwhvrj {
  color: #ffffff;
  background-color: #676fa3;
  font-family: Helvetica, serif;
  padding: 10px 25px 10px 25px;
  border-radius: 10px 10px 10px 10px;
  margin: 12px 0 0 0;
  text-align: center;
}

#i39msc {
  font-size: 17px;
  color: #4c4c4c;
  border: 0 solid #4c4c4c;
}

#it9ksm {
  color: #8e8e8e;
  font-size: medium;
  padding: 6px 12px 6px 12px;
  border: 1px solid #ededed;
}

#ibeygb {
  margin: 0 20px 0 0;
  padding: 0 20px 0 0;
}

#iapjz2 {
  font-size: 17px;
  color: #4c4c4c;
}

#is62nf {
  color: #8e8e8e;
  border: 1px solid #ededed;
}

#iqccwc {
  padding: 0 20px 0 0;
  margin: 0 20px 0 0;
}

#i7qm1g {
  font-size: 17px;
  color: #4c4c4c;
}

#iacp94 {
  color: #8e8e8e;
  border: 1px solid #ededed;
}

#i2yqzv {
  padding: 0 20px 0 0;
  margin: 0 30px 0 0;
}

#ijr36r {
  color: #ffffff;
  background-color: #676fa3;
  font-family: Helvetica, serif;
  padding: 10px 25px 10px 25px;
  border-radius: 10px 10px 10px 10px;
  font-size: 15px;
  margin: 36px 0 0 20px;
}

#izil {
  margin: 0 0 0 0;
}

#il31ux {
  background-image: url('https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/658f82b267634957af235a2debff97dd_lander.png');
  background-repeat: repeat;
  background-position: center top;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}

#i9waxq {
  flex-direction: column;
}

#ieh99k {
  text-align: left;
  font-family: Georgia, serif;
  font-size: 39px;
  margin: 0 0 0 0;
  padding: 30px 0 30px 40px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(33, 37, 41);
  line-height: 48.5px;
  border-radius: 10px 10px 10px 10px;
}

#ii6fg5 {
  padding: 5px 0 5px 60px;
}

#itdv84 {
  padding: 0 0 0 0;
}

#ikxbnu {
  background-color: #f9f9f9;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 8px 0 rgba(215, 215, 215, 0.22);
  border: 1px solid rgba(242, 242, 242, 0.85);
}

#iy8tix {
  text-align: left;
  font-family: Georgia, serif;
  font-size: 39px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: rgba(255, 255, 255, 0);
  color: #757575;
}

#iz3w33 {
  padding: 20px 0 20px 0;
  background-color: #ffffff;
}

#in8e93 {
  color: black;
}

#iwtpjj {
  flex: 0 1 auto;
}

#i2be6d {
  margin: 0 0 0 0;
  padding: 50px 0 30px 50px;
  background-color: #1a1e21;
}

#i5i3y {
  padding: 0 0 0 0;
}

#iyfkyr {
  padding: 0 0 0 0;
  margin: 60px 0 0 0;
}

#i2wtef {
  margin: 0 0 0 0;
  max-width: 100%;
  width: 100%;
}

#ilv9mt {
  padding: 0 0 0 0;
}

#i3rucz {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 34px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: rgba(255, 255, 255, 0);
}

#i50fpu {
  padding: 0 0 0 0;
}

#ipkg3g {
  text-align: left;
  padding: 0 0 0 0;
  color: #a5a5a5;
  width: 60%;
  display: inherit;
  font-size: 17px;
  margin: 6px 0 10px 0;
  font-weight: 400;
  line-height: 34px;
}

#igxv9f {
  color: #ffffff;
  background-color: #676fa3;
  font-family: Helvetica, serif;
  padding: 10px 25px 10px 25px;
  border-radius: 10px 10px 10px 10px;
  margin: 12px 0 0 0;
  text-align: center;
}

#ic0r64 {
  flex-direction: column;
  padding: 0 0 0 0;
}

#i8d4tq {
  margin: 0 0 0 100px;
  padding: 0 0 0 0;
}

#ikxrsl {
  color: black;
}

#ilwtc5 {
  padding: 0 0 0 0;
}

#i8gpbj {
  background-color: #f9f9f9;
}

#idq3qw {
  text-align: left;
  font-family: Georgia, serif;
  font-size: 34px;
  margin: 0 0 0 0;
  background-color: #ffffff;
  padding: 0 0 0 0;
}

#ib9ayq {
  margin: 40px 0 0 0;
}

#i9vlvl {
  color: black;
  width: 12%;
}

#if1qzr {
  padding: 0 0 0 0;
  font-family: Georgia, serif;
  font-size: 20px;
}

#iar6ha {
  margin: 15px 0 0 0;
}

#ii9aqf {
  padding: 0 0 0 0;
  color: #a5a5a5;
  font-size: 18px;
  width: 90%;
}

#igq39m {
  padding: 0 0 5px 0;
  margin: 8px 0 0 0;
}

#i7218t {
  flex-direction: column;
}

#ik7eha {
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  margin: 0 30px 0 0;
  flex-basis: 70%;
  padding: 20px 10px 20px 35px;
}

#i7dl3w {
  color: black;
  width: 12%;
}

#i3ntzr {
  padding: 0 0 0 0;
  font-family: Georgia, serif;
  font-size: 20px;
}

#i3vh5g {
  margin: 15px 0 0 0;
}

#il0zfc {
  padding: 0 0 0 0;
  color: #a5a5a5;
  font-size: 18px;
  width: 90%;
}

#iump1i {
  padding: 0 0 5px 0;
  margin: 8px 0 0 0;
}

#ijmjib {
  flex-direction: column;
}

#id0k64 {
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  margin: 0 0 0 30px;
  flex-basis: 70%;
  padding: 20px 10px 20px 35px;
}

#ihphxe {
  color: black;
  width: 12%;
}

#ilpt9h {
  padding: 0 0 0 0;
  font-family: Georgia, serif;
  font-size: 20px;
}

#i247ih {
  margin: 15px 0 0 0;
}

#io3fpb {
  padding: 0 0 0 0;
  color: #a5a5a5;
  font-size: 18px;
  width: 90%;
}

#iqe4fz {
  padding: 0 0 5px 0;
  margin: 8px 0 0 0;
}

#iwcwq2 {
  flex-direction: column;
}

#ibi9bv {
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  margin: 0 40px 0 40px;
  flex-basis: 70%;
  padding: 20px 10px 20px 35px;
}

#i2m9i8 {
  background-color: #ffffff;
}

#ihi9lk {
  text-align: center;
}

#ib2e77 {
  text-align: left;
  font-family: Georgia, serif;
  font-size: 34px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: rgba(255, 255, 255, 0);
}

#infa1q {
  text-align: center;
  color: #a5a5a5;
  font-size: 18px;
  width: 70%;
  line-height: 33px;
}

#iobksv {
  text-align: center;
  padding: 0 0 0 0;
}

#icqujs {
  color: black;
  border-radius: 10px 10px 10px 10px;
}

#iilokd {
  flex-direction: column;
  align-items: center;
}

#i506wj {
  color: black;
  height: auto;
  border-radius: 10px 10px 10px 10px;
}

#ivg7fc {
  color: black;
  height: auto;
  margin: 0 0 0 0;
  width: auto;
  border-radius: 10px 10px 10px 10px;
}

#i75h06 {
  flex-direction: column;
  width: 60%;
  margin: 0 auto 0 auto;
}

#ijzkoa {
  padding: 0 0 10px 0;
}

#inya53 {
  flex-basis: 141%;
  margin: 0 0 0 20px;
}

#iwr0p7 {
  flex-basis: 60%;
  padding: 0 0 0 0;
}

#ilps9c {
  padding: 0 0 0 0;
  margin: 5px 0 0 0;
}

#ixn6pl {
  margin: 30px 0 0 0;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .menu-container {
    display: none;
    width: 100%;
  }

  .menu {
    width: 100%;
  }

  .menu-link {
    display: block;
  }

  #iav70w {
    text-align: center;
    margin: 0 auto 0 auto;
  }

  #ifvtbk {
    text-align: center;
    padding: 0 0 0 0;
    margin: 6px auto 10px auto;
  }

  #i7h9cc {
    text-align: center;
  }

  #iwhvrj {
    margin: 0 0 0 0;
  }

  #ijfjn1 {
    margin: 37px 0 0 0;
  }

  #i3rucz {
    text-align: center;
  }

  #ipkg3g {
    text-align: center;
    padding: 0 0 0 0;
    margin: 6px auto 10px auto;
    width: 80%;
  }

  #igxv9f {
    margin: 0 0 0 0;
  }

  #ikg2ij {
    text-align: center;
  }

  #idq3qw {
    text-align: center;
  }

  #ib2e77 {
    text-align: center;
  }

  #ixn6pl {
    white-space: nowrap;
  }

  #iwtpjj {
    text-align: center;
  }

  #i8d4tq {
    margin: 0 0 0 0;
  }

  #irxljh {
    text-align: center;
    margin: 0 auto 0 auto;
  }

  #in8e93 {
    max-width: 80%;
  }

  #i50fpu {
    margin: 20px 0 0 0;
  }

  #iz3w33 {
    padding: 0 0 0 0;
  }

  #i5i3y {
    text-align: center;
  }

  #i2be6d {
    padding: 50px 0 30px 0;
  }

  #i75h06 {
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-direction: column;
    margin: 0 0 0 0;
    width: 100%;
  }

  #ijzkoa {
    flex-wrap: nowrap;
  }

  #infa1q {
    width: 80%;
  }

  #ik7eha {
    margin: 0 0 0 0;
    flex-basis: 70%;
    max-width: 80%;
    text-align: left;
  }

  #ib9ayq {
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: normal;
    text-align: left;
    align-items: center;
  }

  #i9vlvl {
    width: 6%;
  }

  #ihphxe {
    width: 6%;
  }

  #ibi9bv {
    margin: 20px 0 0 0;
    max-width: 80%;
  }

  #id0k64 {
    margin: 20px 0 0 0;
    max-width: 80%;
  }

  #i7dl3w {
    width: 6%;
  }
}

@media (max-width: 415px) {
  #ijfjn1 {
    margin: 40px 0 0 0;
  }

  #ibdkv {
    text-align: center;
  }

  #ij4zu {
    padding: 50px 0 40px 0;
  }

  #ifvtbk {
    padding: 0 0 0 0;
    line-height: 30px;
    margin: 6px auto 10px auto;
    width: 90%;
  }

  #iwhvrj {
    margin: 0 0 0 0;
  }

  #ibeygb {
    margin: 0 0 0 0;
    max-width: 100%;
    padding: 0 20px 0 20px;
    width: auto;
    text-align: left;
  }

  #iqccwc {
    margin: 0 0 0 0;
    max-width: 100%;
    padding: 0 20px 0 20px;
    width: auto;
  }

  #i2yqzv {
    margin: 0 0 0 0;
    max-width: 100%;
    padding: 0 20px 0 20px;
  }

  #ijr36r {
    margin: 36px 0 0 0;
    text-align: left;
    white-space: nowrap;
  }

  #ipkg3g {
    padding: 0 0 0 0;
    line-height: 26px;
    margin: 6px 0 10px 0;
    width: 100%;
  }

  #igxv9f {
    margin: 0 0 0 0;
  }

  #ib9ayq {
    margin: 20px 0 0 0;
  }

  #iwbpg {
    text-align: center;
    margin: 50px 0 0 0;
  }

  #iy8tix {
    text-align: center;
  }

  #ii6fg5 {
    padding: 5px 0 5px 0;
    text-align: center;
  }

  #ieh99k {
    font-size: 32px;
    line-height: 42px;
    padding: 30px 0 30px 0;
    text-align: center;
  }

  #in8e93 {
    max-width: 100%;
  }

  #idq3qw {
    font-size: 28px;
  }

  #iav70w {
    font-size: 28px;
  }

  #idwjz {
    text-align: center;
  }

  #ib2e77 {
    font-size: 28px;
  }

  #i9vlvl {
    width: 12%;
  }

  #ihphxe {
    width: 12%;
  }

  #i7dl3w {
    width: 12%;
  }

  #id0k64 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 12px 10px 12px 10px;
    text-align: center;
  }

  #ibi9bv {
    max-width: 100%;
    padding: 12px 10px 12px 10px;
    text-align: center;
  }

  #ik7eha {
    max-width: 100%;
    padding: 12px 10px 12px 10px;
    text-align: center;
  }

  #io3fpb {
    width: 100%;
  }

  #ii9aqf {
    width: 100%;
  }

  #il0zfc {
    width: 100%;
  }

  #infa1q {
    width: 100%;
    line-height: 30px;
  }

  #i0xo6j {
    padding: 10px 0 10px 0;
  }
}