@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
#radio_button {
    font-size: 12px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin: 5px 0 5px 0;
    color: #302C5E;
    white-space: nowrap;
}

#entity_heading {
    font-size: 28px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin: 5px 0 5px 0;
    color: #302C5E;
    white-space: nowrap;
}