<div class="container">
  <br />
  <h1 style="text-align: center;">Project Components</h1>
  <br />
  <br />
  <div>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Features </mat-panel-title>
        </mat-expansion-panel-header>
        
        <div style="padding-right: 20px;">
          <button class="createEntityButton" mat-raised-button color="primary" (click)="openFeatureDialog('create')">Add
            Features</button>
        </div>
        <div class="row" style="margin: 0px;" *ngIf="featureData && featureData.length > 0">
          <div class="col-md-4" *ngFor="let feature of featureData; let i = index">
            <div class="card">
              <div class="card-header">
                {{feature.name}}
              </div>
              <div class="card-body">
                <div><span>{{feature.description}}</span></div>
                <br />
                <!-- <button class="btn btn-primary" (click)="editFeatureField(feature)">Edit</button>
                &nbsp;
                <button class="btn btn-danger" (click)="openDeleteFModel(feature)">Delete</button>
                &nbsp; -->
                <button class="btn btn-primary">Import Feature</button>
                &nbsp;
                <button class="btn btn-info" [routerLink]="['/feature-details']"  [queryParams]="{feature: feature.name}">See Details</button>
              </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="featureData && featureData.length === 0">
            No Feature Available.
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Entities </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="padding-right: 20px;">
          <button class="createEntityButton" mat-raised-button color="primary" (click)="saveEntityModel()">Create
            Entity</button>
        </div>
        <div class="row" style="margin: 0px;">
          <div class="col-md-4" *ngFor="let entity of allEntity; let i = index">
            <div class="card">
              <div class="card-header">
                {{entity.name}}
                <img *ngIf="!entity.is_default" style="float: right; cursor: pointer;" (click)="editEntity(entity)" src="https://img.icons8.com/metro/26/000000/edit-file.png">
              </div>
              <div class="card-body">
                <div><span>{{entity.description}}</span></div>
                <br />
                <button mat-raised-button color="primary" (click)="editEntityField(entity)">Edit</button>
                &nbsp;
                <button mat-raised-button color="warn" [disabled]="entity.is_default" (click)="openDeleteModel(entity)">Delete</button>
              </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="allEntity.length === 0">
            No Entity Available.
          </div>
        </div>
        <!--  
        <mat-card *ngFor="let entity of allEntity" class="entity-card">
          <mat-card-header>
            <mat-card-title>{{entity.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{entity.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/entity-field']">Edit</button>
            <button mat-raised-button color="warn" (click)="deleteEntity(entity._id)">Delete</button>
          </mat-card-actions>
        </mat-card> -->

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Screens </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content>

          <button class="createEntityButton goToButton" mat-raised-button (click)="GoToDesigner()">Add Screen</button>
        </mat-card-content>
        <!-- <div class="row" style="margin: 0px;" *ngIf="selecteddefaultEntity && selecteddefaultEntity.length > 0">
            <div class="col-md-4" *ngFor="let defaultEntity of selecteddefaultEntity; let i = index">
              <div class="card">
                <div class="card-header">
                  <h4>User:<span>{{defaultEntity?.user_name}}</span></h4>
                </div>
                <div class="card-body">
                  <div>
                    <h4>Project: <span>{{defaultEntity?.project_name}}</span></h4>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
      </mat-expansion-panel>
      <app-techarchitecture-manager></app-techarchitecture-manager>
    </mat-accordion>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display':deletePopup}">
  <div class="modal-dialog modal-sm" role="dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h6 class="modal-title">Delete</h6>
        <button type="button" class="close">&times;</button>
      </div> -->
      <div class="delete modal-body">
        <p>Please click confirm to delete this project ? </p>
      </div>
      <div class="modal-footer" style="padding: 5px">
        <button type="button" class="btn btn-default" (click)="deleteEntity()">Confirm</button>
        &nbsp;
        <button type="button" class="btn btn-default" (click)="closeDeleteModel()">Cancel</button>
      </div>
    </div>

  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display':deleteFPopup}">
  <div class="modal-dialog modal-sm" role="dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h6 class="modal-title">Delete</h6>
        <button type="button" class="close">&times;</button>
      </div> -->
      <div class="delete modal-body">
        <p>Please click confirm to delete this Feature ? </p>
      </div>
      <div class="modal-footer" style="padding: 5px">
        <button type="button" class="btn btn-default" (click)="deleteFeature()">Confirm</button>
        &nbsp;
        <button type="button" class="btn btn-default" (click)="closeDeleteFModel()">Cancel</button>
      </div>
    </div>

  </div>
</div>


<div class="modal" tabindex="-1" data-keyboard="true" aria-hidden="true" data-backdrop="true" role="dialog"
  [ngStyle]="{'top': '100px','display':displayFeatureModel}">
  <div class="modal-dialog modal-lg" role="dialog">
    <div class="feature modal-content">
      <div class="modal-body">
        <div class="container">
          <h1>Add Feature</h1>
          <div class="row">
            <div class="radio mr-sm-4">
              <label><input type="radio" name="selectFeature" [value]="false"
                  (change)="onChangeRadio($event.target.value)" [(ngModel)]="selectFeature">Import
                Existing Feature</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="selectFeature" (change)="onChangeRadio($event.target.value)"
                  [value]="true" [(ngModel)]="selectFeature">Add New
                Feature</label>
            </div>
          </div>
          <div *ngIf="!selectFeature" class="dropdown mt-sm-2 mb-sm-2">
            <div class="form-group">
              <label for="sel1">Import Existing Feature:</label>
              <select class="form-control" (change)="onChange($event.target.value)">
                <option *ngFor="let feature of featureData" value="{{feature.name}}"
                  ([ngModel])="selectedExistingFeature">{{feature.name}}</option>
              </select>
            </div>
          </div>
          <form #featurForm="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="features.name" #name="ngModel"
                [ngClass]="{ 'is-invalid': featurForm.submitted && name.invalid }" required />
              <div *ngIf="featurForm.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <ckeditor [editor]="Editor" name="description" id="editor" (ready)="onReady($event)"
                [(ngModel)]="features.description"></ckeditor>
              <!--   use this inside ckeditor tag for image upload replace your api with uploadUrl [config]="{ ckfinder :{uploadUrl: 'https://your-organization-id.cke-cs.com/easyimage/upload/'}}" -->
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer" style="padding: 5px" *ngIf="!selectFeature">
        <button class="btn btn-primary" (click)="createFeature()">Create</button>
        <button type="button" class="btn btn-default" (click)="closeFeatureExistingModel()">Cancel</button>
      </div>
      <div class="modal-footer" style="padding: 5px" *ngIf="selectFeature && !showUpdateFeature">
        <button class="btn btn-primary" (click)="createFeature()">Create</button>
        <button type="button" class="btn btn-default" (click)="closeFeatureCreateModel()">Cancel</button>
      </div>
      <div class="modal-footer" style="padding: 5px" *ngIf="showUpdateFeature && selectFeature">
        <button class="btn btn-primary" (click)="updateFeature()">Update</button>
        <button type="button" class="btn btn-default" (click)="closeFeatureExistingModel()">Cancel</button>
      </div>
    </div>

  </div>
</div>