.footer-wrapper{
    background-image: radial-gradient(circle at center top,#403f56 0,#263044 100%);
    color: white;

}
.footer-container{
    padding: 4rem 3rem 4rem 3rem;
    line-height: 3rem;
}
.logo-width{
    width: 15rem;
}
.cursor-pointer {
    cursor: pointer;
  }
  .take-quiz-btn{
    border: 1px solid #34e0a1;
    background: #34e0a1;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 10px;
    font-weight: bold;
  }
.margin-bootom-copyright{
    margin-bottom: 3rem;
}