<div class="container">
  <br />
  <div>
    <button class="createEntityButton goToButton" mat-raised-button (click)="GoToDesigner()">Go To Screen
      Designer</button>
  </div>
  <br />
  <br />
  <div>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> My Application Features </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="padding-right: 20px;">
          <button class="createEntityButton" mat-raised-button color="primary"
            (click)="openFeatureDialog('create')">Create
            Features</button>
        </div>
        <div class="row" style="margin: 0px;" *ngIf="featureData.length > 0">
          <div class="col-md-4" *ngFor="let feature of featureData; let i = index">
            <div class="card">
              <div class="card-header">{{feature.name}}</div>
              <div class="card-body">
                <div><span>{{feature.description}}</span></div>
                <br />
                <button mat-raised-button color="primary" (click)="editFeatureField(feature)">Edit</button>
                &nbsp;
                <button mat-raised-button color="warn" (click)="openDeleteFModel(feature)">Delete</button>
              </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="featureData.length === 0">
            No Entity Available.
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            My Entity
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="padding-right: 20px;">
          <button class="createEntityButton" mat-raised-button color="primary" (click)="openDialog()">Create
            Entity</button>
        </div>
        <div class="row" style="margin: 0px;">
          <div class="col-md-4" *ngFor="let entity of allEntity; let i = index">
            <div class="card">
              <div class="card-header">{{entity.name}}</div>
              <div class="card-body">
                <div><span>{{entity.description}}</span></div>
                <br />
                <button mat-raised-button color="primary" (click)="editEntityField(entity)">Edit</button>
                &nbsp;
                <button mat-raised-button color="warn" (click)="openDeleteModel(entity)">Delete</button>
              </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="allEntity.length === 0">
            No Entity Available.
          </div>
        </div>
        <!--  
        <mat-card *ngFor="let entity of allEntity" class="entity-card">
          <mat-card-header>
            <mat-card-title>{{entity.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{entity.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/entity-field']">Edit</button>
            <button mat-raised-button color="warn" (click)="deleteEntity(entity._id)">Delete</button>
          </mat-card-actions>
        </mat-card> -->

      </mat-expansion-panel>
      <app-connector-manager></app-connector-manager>

      <!--   
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel> -->
    </mat-accordion>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display':deletePopup}">
  <div class="modal-dialog modal-sm" role="dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h6 class="modal-title">Delete</h6>
        <button type="button" class="close">&times;</button>
      </div> -->
      <div class="modal-body">
        <p>Please click confirm to delete this project ? </p>
      </div>
      <div class="modal-footer" style="padding: 5px">
        <button type="button" class="btn btn-default" (click)="deleteEntity()">Confirm</button>
        &nbsp;
        <button type="button" class="btn btn-default" (click)="closeDeleteModel()">Cancel</button>
      </div>
    </div>

  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display':deleteFPopup}">
  <div class="modal-dialog modal-sm" role="dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h6 class="modal-title">Delete</h6>
        <button type="button" class="close">&times;</button>
      </div> -->
      <div class="modal-body">
        <p>Please click confirm to delete this Feature ? </p>
      </div>
      <div class="modal-footer" style="padding: 5px">
        <button type="button" class="btn btn-default" (click)="deleteFeature()">Confirm</button>
        &nbsp;
        <button type="button" class="btn btn-default" (click)="closeDeleteFModel()">Cancel</button>
      </div>
    </div>

  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display':displayFeatureModel}">
  <div class="modal-dialog modal-md" role="dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <h1>Create Feature</h1>
          <div class="row">
            <div class="radio mr-sm-4">
              <label><input type="radio" name="selectFeature" [value]="false"
                  (change)="onChangeRadio($event.target.value)" [(ngModel)]="selectFeature">Select From
                Existing</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="selectFeature" (change)="onChangeRadio($event.target.value)"
                  [value]="true" [(ngModel)]="selectFeature">Create New
                Feature</label>
            </div>
          </div>
          <div *ngIf="!selectFeature" class="dropdown mt-sm-2 mb-sm-2">
            <div class="form-group">
              <label for="sel1">Select From Existing:</label>
              <select class="form-control" (change)="onChange($event.target.value)">
                <option *ngFor="let feature of featureData" value="{{feature.name}}"
                  ([ngModel])="selectedExistingFeature">{{feature.name}}</option>
              </select>
            </div>
          </div>
          <form #featurForm="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="features.name" #name="ngModel"
                [ngClass]="{ 'is-invalid': featurForm.submitted && name.invalid }" required />
              <div *ngIf="featurForm.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <ckeditor [editor]="Editor" name="description" [(ngModel)]="features.description"></ckeditor>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer" style="padding: 5px" *ngIf="!selectFeature">
        <button class="btn btn-primary" (click)="createFeature()">Create</button>
        <button type="button" class="btn btn-default" (click)="closeFeatureExistingModel()">Cancel</button>
      </div>
      <div class="modal-footer" style="padding: 5px" *ngIf="selectFeature && !showUpdateFeature">
        <button class="btn btn-primary" (click)="createFeature()">Create</button>
        <button type="button" class="btn btn-default" (click)="closeFeatureCreateModel()">Cancel</button>
      </div>
      <div class="modal-footer" style="padding: 5px" *ngIf="showUpdateFeature && selectFeature">
        <button class="btn btn-primary" (click)="updateFeature()">Update</button>
        <button type="button" class="btn btn-default" (click)="closeFeatureExistingModel()">Cancel</button>
      </div>
    </div>

  </div>
</div>