<!doctype html>
<html lang="en">
  <head>
    <base href="/">
    {{#each tagData}}
    {{{data}}}
    {{/each}}
  </head>
  <body>
     <div id="root"></div>
    {{#each scriptTagData}}
    {{{data}}}
    {{/each}}
  </body>
</html>