.geppetoimage {
    align-items: center;
    /* background: linear-gradient(to top right, #1f5679 10%, #eaf4ff 90%); */
    display: flex;
    /* flex-basis: 550px; */
    justify-content: center;
    height: 100%;
}
.btn{
    /* align-items: center; */
    /* background: linear-gradient(to top right, #1f5679 10%, #eaf4ff 90%); */
    /* display: flex; */
    /* flex-basis: 550px; */
    float: right;
    /* height: 100vh; */
    padding-right: 7%;
    padding-top: 1%;
}
.geppetoimage1 {
    /* align-items: center; */
    background: linear-gradient(to top right, #1f5679 10%, #eaf4ff 90%);
    /* display: flex; */
    flex-basis: 550px;
    /* justify-content: center; */
    height: 100vh;
    top:0px !important;
    margin-top: -5%;
}

.header-btn{
    float: right !important;
}
.drop-btn{
    margin-right: 41px !important;
    float: right !important;
    padding-left: -1px !important;
    padding: 10px !important;
   
}
.btn-design{
    padding: 7px 30px !important;
    font-size: 13px !important;
    border-radius: 4px !important;
    color: white !important;

}

.test_123{
    // position: fixed;
}
.mat-toolbar.mat-toolbar.mat-primary{
    top:0px !important;
}

mat-toolbar.mat-toolbar.mat-primary{

}