<app-header></app-header>
<div class="geppetoimage1 test_123 , element header_text">
  <div class="btn">
    <button color="primary" (click)="showAbout()">About</button>
  </div>
  <div class="btn">
    <button color="primary" [routerLink]="['/login']">SignIn</button>
  </div>
  <div class="btn-group drop-btn">
    <button type="button" class="btn btn-danger dropdown-toggle btn-design" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      select Language
    </button>
    <div class="dropdown-menu">
      <option [ngValue]="lang" *ngFor="let lang of languages" (click)='changeLanguage(lang)'>{{ '_languages.' + lang |
        i18nextCap }}</option>
    </div>
  </div>
  <div class="geppetoimage">
    <img src="../../assets/GeppettoSoftware.png">
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display':displayAboutModel}">
  <div class="modal-dialog modal-sm" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">About</h6>
      </div>
      <div class="modal-body">
        <p>Version: {{versionData.value}}</p>
        <p>Build Version: {{buildVersionData.value}}</p>
        <p>Build Date: {{buildVersionData.updated_at | date: 'MMM d, y, h:mm:ss a'}}</p>
      </div>
      <div class="modal-footer" style="padding: 5px;justify-content: space-evenly;">
        <button type="button" (click)="hideAbout()" class="btn btn-default">{{ 'close' | i18next }}</button>
      </div>
    </div>
  </div>
</div>