.geppetoimage {
    align-items: center;
    /* background: linear-gradient(to top right, #1f5679 10%, #eaf4ff 90%); */
    display: flex;
    /* flex-basis: 550px; */
    justify-content: center;
    height: 100%;
    overflow: hidden;
}