// .geppetoimage {
//     align-items: center;
//     /* background: linear-gradient(to top right, #1f5679 10%, #eaf4ff 90%); */
//     display: flex;
//     /* flex-basis: 550px; */
//     justify-content: center;
//     height: 100%;
//     overflow: hidden;
// }

.center { 
    height: -webkit-fill-available;
    position: relative;
  }
  
  .center img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .bg_img{
    background-image: url("../../assets/GeppettoSoftware.png"); 
    // top right no-repeat;
     background-attachment:fixed; 
    // background-color: #cccccc;
    // height: -webkit-fill-available;
    background-position: center;
    background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
    width: 30%;
    height: 80%;
    /* background: url(your-url) no-repeat center; */
    /* background-size: 100% 100%; */
    position: fixed;
    background-position: center;
  }
  // .div_height{
  // .element::-webkit-scrollbar { width: 0 !important }
  // .element { overflow: -moz-scrollbars-none; }
  // .element { -ms-overflow-style: none; }
  // }
  // ::-webkit-scrollbar {
  //   display: none;
// }