@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
.mainDiv {
    height: auto;
    position: absolute;
    // top: 8%;
    top: 78px;
    left: 0;
    right: 0;
    bottom: 100px;
}

#fields_heading {
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin: 5px 0 5px 0;
    color: #302C5E;
    white-space: nowrap;
}

#column_heading {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 550;
    margin: 5px 0 5px 0;
    color: #302C5E;
    white-space: nowrap;
}

#dropdown_style {
    height: 50px;
    border-color: black
}

#create_btn {
    background-color: #5DB18C;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 10px 20px;
}

#cancel_btn {
    background-color: #9297A7;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 10px 20px;
}