<div class="mainDiv" id="editor-c">
    <div style="padding: 25px"></div>
</div>

<!-- Save screen model popup window -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog modal-md" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Screen</h5>
                <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="screen-name" class="col-sm-4 col-form-label">Screen Name</label>
                    <div class="col-sm-8">
                        <input type="text" [(ngModel)]="screenName" (ngModelChange)="isScreenNameExist()" class="form-control" (keypress)="omit_special_char($event)">
                        <small *ngIf="screenNameExist" style="font-style: italic;
               color: red;">This screen Name is Exist.</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateScreeName()">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- entity and its field div popup model-->
<div *ngIf="isFieldPopupModal" id="modalDiv" class="modal" tabindex="-1" role="dialog" style="display: block">
    <div class="modal-dialog modal-sm" role="dialog">
        <div class="modal-content">
            <div class="container">
                <form class="m-3 p-2">
                    <button type="button" class="btn-close pull-right" aria-label="Close" (click)="onCloseModel()"></button>
                    <div class="form-group">
                        <label id="fields_heading">Fields</label>
                        <br>
                        <br>
                        <select class="form-select" id="dropdown_style" name="entityFields" [(ngModel)]="entityFields.entityfieldname" (ngModelChange)="onChangeentityfield()">
                    <option *ngFor="let field of fields " [value]="field.name" selected>{{ field.name }}</option>
                  </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group fieldpopbtn">
                    <button type="button" class="btn btn-primary" (click)="onCloseModel()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- events action popup model -->
<div id="EventPopup" class="modal" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: block;">
                <button type="button" class="btn-close pull-right" (click)="closeEventPopup(false)" aria-label="Close"></button>
                <h3 id="fields_heading">Choose an Flow</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" *ngIf="selectedFlowObj && selectedFlowObj.length > 0">
                        <div class="col-md-6 col-sm-8 col-xs-6">
                            <b>Selected Flow Action</b>: &nbsp;&nbsp; {{selectedFlowObj[0].actionOnData}}
                        </div>
                        <br>
                    </div>

                    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-material" [columnDefs]="columnDefs" [rowData]="rowData" [animateRows]="true" [defaultColDef]="defaultColDef" domLayout='autoHeight' [pagination]="true" [paginationPageSize]="10"
                        [suppressRowClickSelection]="true" (selectionChanged)="onSelectionChanged($event)" [rowSelection]="rowSelection" [floatingFilter]="true" (gridReady)="onGridReady($event)">
                    </ag-grid-angular>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <button id="create_btn" class="btn btn-default" (click)="saveEvent()">Ok</button>
                    </div>
                    <div class="p-2">
                        <button id="cancel_btn" type="button" (click)="closeEventPopup(false)" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modifier value action popup model -->
<div id="ProjectEventPopup" class="modal" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: block;">
                <button type="button" class="btn-close pull-right" (click)="closeEventPopup(true)" aria-label="Close"></button>
                <h3 id="fields_heading">Choose an Modify By Value</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" *ngIf="selectedFlowObj && selectedFlowObj.length > 0">
                        <div class="col-md-6 col-sm-8 col-xs-6">
                        </div>
                        <br>
                    </div>
                    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="mytableGrid" class="ag-theme-material" [columnDefs]="TablecolumnDefs" [rowData]="tableRowData" [animateRows]="true" [defaultColDef]="defaultColDef" domLayout='autoHeight' [pagination]="true"
                        [paginationPageSize]="10" [suppressRowClickSelection]="true" (selectionChanged)="tableOnSelectionChanged($event)" [rowSelection]="rowSelection" [floatingFilter]="true" (gridReady)="onTableGridReady($event)">
                    </ag-grid-angular>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <button id="create_btn" class="btn btn-default" (click)="saveModifierValue()">Ok</button>
                    </div>
                    <div class="p-2">
                        <button id="cancel_btn" type="button" (click)="closeEventPopup(true)" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- grid popup model -->
<div *ngIf="isGridPopup" id="agGridModal" class="modal" tabindex="-1" role="dialog" style="display: block">
    <div class="modal-dialog modal-md" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="fields_heading">Grid</h3>
                <button type="button" class="btn-close pull-right" (click)="onCloseHandled()" aria-label="Close"></button>
            </div>
            <div class="container">
                <form [formGroup]="agGridFields">
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <label id="column_heading" for="">Column</label>
                        </div>
                        <div class="col-lg-6">
                            <select name="" id="dropdown_style" formControlName="selectColumn" class="form-select" (ngModelChange)='onColumnChange($event)'>
                                <option *ngFor="let col of columnOptions" [ngValue]="col">{{ col.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <label id="column_heading" for="">Fields</label>
                        </div>
                        <div class="col-lg-6">
                            <select id="dropdown_style" formControlName="selectField" class="form-select" (ngModelChange)='onFieldOptions($event)'>
                                <option *ngFor="let field of allEntityField" [value]="field.name">{{ field.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2" *ngIf="agGridArray.length > 0">
                        <div class="col-lg-12">
                            <button class="btn btn-outline-primary" (click)='toggleMapping()'>
                                <span  *ngIf="!isMappingGrid; else hide">Show</span>
                                <ng-template #hide>Hide</ng-template>
                                Mapped Fields
                            </button>
                            <div [@openCloseMapping]="isMappingGrid ? 'openGrid': 'closeGrid'">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">columnName</th>
                                            <th scope="col">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        Entity
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">Name</div>
                                                    <div class="col-md-6">Field</div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let gridInfo of agGridArray; let i=index">
                                            <tr>
                                                <th scope="row">{{i+1}}</th>
                                                <td>{{gridInfo.columnname}}</td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            {{gridInfo.entity}}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{gridInfo.entityfield}}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <button id="create_btn" class="btn btn-default" (click)="saveGridField()">Ok</button>
                    </div>
                    <div class="p-2">
                        <button id="cancel_btn" type="button" class="btn btn-default" (click)="onCloseHandled()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>