<div class="mainDiv" id="editor-c">
    <div style="padding: 25px"></div>
</div>

<!-- Save screen model popup window -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog modal-md" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Screen</h5>
                <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="screen-name" class="col-sm-4 col-form-label">Screen Name</label>
                    <div class="col-sm-8">
                        <input type="text" [(ngModel)]="screenName" (ngModelChange)="isScreenNameExist()" class="form-control" (keypress)="omit_special_char($event)">
                        <small *ngIf="screenNameExist" style="font-style: italic;
               color: red;">This screen Name is Exist.</small>
                    </div>
                    <!-- <div *ngIf="isTemplateEdit" class="col-sm-8">
                        <input type="text" id="template" name="template" class="form-control" [(ngModel)]="templateObj.template_name" disabled="true" />
                    </div> -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Close</button>
                <button type="button" class="btn btn-primary" (click)="updatescreen()">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- entity and its field div popup model -->
<div *ngIf="isFieldPopupModal" id="modalDiv" class="modal" tabindex="-1" role="dialog" style="display: block">
    <div class="modal-dialog modal-sm" role="dialog">
        <div class="modal-content">
            <div class="container">
                <form class="m-3">
                    <button type="button" class="close" (click)="onCloseModel()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    <div class="form-group">
                        <label>fields</label>
                        <select class="form-control" id="fields" name="entityFields" [(ngModel)]="entityFields.entityfieldname" (ngModelChange)="onChangeentityfield()">
                    <option *ngFor="let field of fields " [value]="field.name" selected>{{ field.name }}</option>
                  </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group fieldpopbtn">
                    <button type="button" class="btn button-close" (click)="onCloseModel()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>