#entity_heading {
    font-size: 28px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin: 5px 0 5px 0;
    color: #302C5E;
    white-space: nowrap;
}

#ihclgr {
    white-space: nowrap;
    background-color: #5DB18C;
    color: #ffffff;
    padding: 8px 20px 8px 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    float: right;
}