<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p id="entity_heading">Wizard</p>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-lg-12">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="modelObject.wizardName">
        </div>
        <div class="col-lg-12 mt-2">
            <label>Description</label>
            <input type="text" class="form-control" [(ngModel)]="modelObject.wizardDescription">
        </div>
        <div class="col-lg-12 mt-2">
            <div class="d-flex justify-content-center">
                <div class="p-2 mt-4">
                    <button class="btn btn-danger" (click)="onNoClick()">Close</button>
                </div>
                <div class="p-2 mt-4">
                    <button id="cancel_btn" [mat-dialog-close]="modelObject" class="btn btn-info">Add</button>
                </div>
            </div>
        </div>
    </div>