.i4nry8 {
    background-color: #f9f9f9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 12px 30px 22px;
    max-width: 87%;
    margin: 0 auto 0 0;
}