<section id="ibz4" class="gpd-section" style="background-image: url('../../assets/images/about/Background Image.png');">
    <div id="i8mi" class="gpd-container gpd-cnt">
        <div id="ixycx" class="gpd-text">Open Source Attribution Page For Geppetto
        </div>
        <div id="ilrrch" class="gpd-text">Open source components are a major part of the software products we create and
            use. Along with the many advantages that using open source projects brings to software development
            organizations, it also comes with obligations and added responsibilities.
        </div>
    </div>
</section>
<section id="i1ahsg" class="gpd-section">
    <div id="in7lj" class="gpd-container gpd-cnt">
        <div id="iwk9i" class="gdp-row gpd-grid">
            <div id="i39u8" class="cell gpd-clm"><img id="iqpkq"
                    src="../../assets/images/about/Open Source Attribution Page.png">
            </div>
        </div>
    </div>
    <div id="iwew4" class="cell gpd-clm">
        <div id="i0qgt" class="gdp-row gpd-grid">
            <div id="isbwe" class="cell gpd-clm"><img id="i1295" src="../../assets/images/about/Attribution Logo.png">
            </div>
            <div id="i73k4" class="cell gpd-clm">
                <div id="im4xk" class="gpd-text">Attributions
                </div>
                <div id="iro8y" class="cell gpd-clm" style="text-align:left">
                    <ul *ngFor="let item of openSourceList">
                        <li> <h6> {{item.name}} <a href=" ">{{item.link}} </a> </h6> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <img src="../../assets/images/about/Dot.png"> -->