<section id="i307x" class="gpd-section">
    <div id="iz59b" class="gpd-container gpd-cnt">
        <div id="i4a8d" class="gdp-row gpd-grid">
            <div id="imysg" class="cell gpd-clm">
                <div id="ia17i" class="gdp-row gpd-grid">
                    <div id="i4b93" class="cell gpd-clm"><img id="ihygk" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/7aa5befb081c4c4ab410f00c9823454e_geplblue.png" />
                    </div>
                </div>
            </div>
            <div id="izo03" class="cell gpd-clm">
                <div class="gdp-row gpd-grid" id="ili0n">
                    <div class="cell gpd-clm">
                        <h1 class="gpd-header" id="i39ya">Log in to Geppetto</h1>
                        <div class="gpd-text" id="i7pe3">Welcome back! Login with your data that you entered<br>during registration
                        </div>
                    </div>
                    <div class="cell gpd-clm" id="ixc5n"><input type="text" placeholder="Username" class="form-control" id="iiiok" /><input type="text" placeholder="Password" class="form-control" id="i5v47" />
                    </div>
                    <div class="cell gpd-clm" id="ix20h"><button type="button" class="btn btn-primary" id="iaoq5">Login</button>
                        <p id="i7ijz">Don't have an account? &nbsp;<span style="color:#2ecc71;"><u>Register</u></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>