<section id="i307x" class="gpd-section">
    <div id="iz59b" class="gpd-container gpd-cnt">
        <div id="i4a8d" class="gdp-row gpd-grid">
            <div id="imysg" class="cell gpd-clm">
                <div id="ia17i" class="gdp-row gpd-grid">
                    <div id="i4b93" class="cell gpd-clm"><img id="ihygk" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/7aa5befb081c4c4ab410f00c9823454e_geplblue.png" />
                    </div>
                </div>
            </div>
            <div id="izo03" class="cell gpd-clm">
                <div id="ili0n" class="gdp-row gpd-grid">
                    <div id="iz7p3" class="cell gpd-clm">
                        <h1 id="i39ya" class="gpd-header">Log in to Geppetto</h1>
                        <div id="i7pe3" class="gpd-text">Welcome back! Login with your data that you entered during registration
                        </div>
                    </div>
                    <div id="ixc5n" class="cell gpd-clm"><input type="text" placeholder="Username" id="iiiok" class="form-control" /><input type="text" placeholder="Password" id="i5v47" class="form-control" /></div>
                    <div id="ix20h" class="cell gpd-clm"><button type="button" id="iaoq5" class="btn btn-primary">Login</button>
                        <p id="i7ijz">Don't have an account? &nbsp;<span style="color:#2ecc71;"><u>Register</u></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>