<section>
    <div class="container-fluid fill">
        <div id="map" class="row">
            <div class="col-lg-7" id="imysg">
                <img id="ihygk" src="./assets/images/login/logo.png" />
            </div>
            <div class="col-lg-5 px-5 pt-5" style="margin-top:3%;">
                <div class="card card-body bg-light p-lg-3 p-0" id="card_style">
                    <div class="container" style="width: 90%;">
                        <form [formGroup]="loginform">
                            <div id="full_div" formGroupName="logindata">
                                <h1 id="i39ya">{{'LOGIN.HEADER' | translate}}</h1>
                                <p id="i7pe3">{{'LOGIN.DESCRIPTION' | translate}}</p>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="text" id="email_input" formControlName="email" placeholder="{{'LOGIN.INPUT1' | translate}}" class="form-control my-4 p-3">
                                        <span *ngIf="!loginform.get('logindata.email').valid && loginform.get('logindata.email').touched || !loginform.get('logindata.email').valid && submitted" class="invalid-feedback ">
                                            {{'SIGNUP.EMAIL_ERROR' | translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="password" id="password_input" formControlName="password" placeholder="{{'LOGIN.INPUT2' | translate}}" class="form-control  my-4 p-3" [type]="hide ? 'password' : 'text'">
                                        <mat-icon class="fa fa-eye-slash" id="eye_icon" (click)="password_hide()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        <span *ngIf="!loginform.get('logindata.password').valid && loginform.get('logindata.password').touched || !loginform.get('logindata.password').valid && submitted" class="invalid-feedback">
                                            {{'SIGNUP.PASSWORD_ERROR' | translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row" id="btn">
                                    <div class="col-lg-12">
                                        <button id="btn1" (click)="login()" class="btn btn btn-success  p-3">{{'LOGIN.BUTTON_TXT' | translate}}</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10">
                                        <span class="invalid-feedback">
                                            {{errormessage}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p id="i7ijz">{{'LOGIN.ACCOUNT' | translate}} &nbsp;<span style="color:#2ecc71;"><a routerLink="/signup"><u>{{'LOGIN.SIGNUP' | translate}}</u></a></span></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>