div {
    height: 100vh;
    background-color: #867a33;
  
}
span {
    position: relative;
    float: left;
    font-size: 50px;
    color: azure;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
