@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

#ihclgr {
    white-space: nowrap;
    background-color: #5DB18C;
    color: #ffffff;
    padding: 8px 20px 8px 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    float: right;
}

#ihcl {
    white-space: nowrap;
    background-color: #5DB18C;
    color: #ffffff;
    padding: 8px 20px 8px 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.m-4{
    margin: 1.5rem!important;
}
.p-4 {
    padding: 0.4rem !important;
    
  }
//   .mx-5 {
    // padding: 0 1.75em 0 0;
    // margin-right: -36rem!important;
    // padding: 1px 0.75em 0 0;
// }
#ih {
    white-space: nowrap;
    color: #5DB18C;
    border-color: #5DB18C;
    padding: 8px 20px 8px 20px;
    margin: 0 0 0 40px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#po {
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    
}

#op {
    border-radius: 25px;
}

#ent1 {
    color: blue;
    font-size: 25px;
}

#ent2 {
    color: red;
    font-size: 25px;
}

#po:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fgh {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#add_feature_heading {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    margin: 5px 0 5px 0;
    color: #302C5E;
    white-space: nowrap;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 200px !important;
}

::ng-deep .mat-expansion-indicator::after {
    height: 20px;
    width: 35px;
    background-image: url('/assets/images/project/arrow.png');
    background-size: cover;
    border: none;
    border-width: 0 !important;
    transform: rotate(0) !important;
}

#divider {
    margin: 0 0 0 0;
    height: 1.2px;
    background-color: #e5e5e5;
    border-top-width: 0px;
}

#feature_heading {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin: 5px 0 5px 0;
    color: #302C5E;
    white-space: nowrap;
}

#button_color {
    background-color: #01155A;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 6px 22px 6px 22px;
    width: 100%;
}

#ser {
    border-radius: 50px;
    width: 300px;
    height: 50px;
    font-size: 25px;
    padding: 25px;
    float: right;
}

#Entry_text_description {
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #404040;
    padding: 0 0 0 10px;
    margin: 5px 0 0 0;
}

.example-radio-button {
    margin: 5px;
}

#project_heading {
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #302C5E;
    white-space: nowrap;
}

#Entry_text_heading {
    width: 100%;
    font-family: Montserrat, sans-serif;
    color: #302C5E;
    font-size: 21px;
    font-weight: bold;
    padding: 0 0 0 10px;
}

#create_btn {
    background-color: #5DB18C;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 10px 20px;
}

#cancel_btn {
    background-color: #9297A7;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 10px 20px;
}

@media (max-width: 768px) {}

.card_align{
    width: auto; height: 200px;
}
.col-sm-4{
    flex: 0 0 auto;
    width: 33.333333%;
    height: 225px;
}
