<ngx-spinner bdColor="rgba(231,220,220,0.33)" size="small" color="#b2acac" [fullScreen]="true">
    <img class="loading-image" src='./assets/images/loading-animation.gif' />
</ngx-spinner>
<div class="col-md-12 my-4 p-4" id="fgh">
    <button class="btn btn-lg btn-success" id="ihclgr" (click)="generateCode()">Generate Application</button>
    <h1 id="project_heading">{{ project_display_Name }}</h1>
</div>

<div class="container-md-12 mx-5 p-4">
    <mat-accordion [togglePosition]="'before'">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header style="padding:3%;">
                <mat-panel-title id="feature_heading">
                    <h3>My Features</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row mx-4 pl-5">
                <div class="col-4" *ngFor="let feature of projectFeatureData; let i= index">
                    <div class="card mt-3 p-2" id="po" [routerLink]="['/feature-details']" [queryParams]="{featureId: feature._id,projectId: project_id}" style="width:30rem; height:9rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="./assets/images/shareable_features/feature icon.png" alt="">
                                </div>
                                <div class="col-lg-8 p-4">
                                    <p id="Entry_text_heading" class="card-title">{{feature.name}}</p>
                                    <p id="Entry_text_description" class="card-text">{{feature.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-1 mx-4 p-4">
                    <button class="btn" id="ihcl" color="primary" (click)="openFeatureDialog()">Add Features</button>
                </div>
                <div class="col-8 mx-5 p-4">
                    <button class="btn" id="ih" color="primary" (click)="openFeatureLibrary()">Feature Library</button>
                </div>
            </div>
            <div class="card m-4 p-4" style="width:auto;height:auto;" *ngIf="isClick">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8 p-4">
                            <p id="Entry_text_heading">Feature Library</p>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="result" id="ser" placeholder="Search..." [(ngModel)]="result" />
                        </div>
                    </div>
                    <div class="row m-4 p-4">
                        <div class="col-sm-4" *ngFor="let shared of getAllSharableFeatueData ; let i= index">
                            <div class="card p-2 card_align" id="po"  >
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="../../assets/images/shareable_features/{{shared.feature_name}}.png" alt="">
                                        </div>
                                        <div class="col-lg-8 p-4">
                                            <p id="Entry_text_heading" class="card-title">{{shared.feature_name}}</p>
                                            <p id="Entry_text_description" class="card-text">Management</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card p-2" id="po" style="width:auto; height:auto;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="./assets/images/shareable_features/vault.png" alt="">
                                        </div>
                                        <div class="col-lg-8 p-4">
                                            <p id="Entry_text_heading" class="card-title">Vault</p>
                                            <p id="Entry_text_description" class="card-text">Administration</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card p-2" id="po" style="width:autp; height:auto;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="./assets/images/shareable_features/security.png" alt="">
                                        </div>
                                        <div class="col-lg-8 p-4">
                                            <p id="Entry_text_heading" class="card-title">Security</p>
                                            <p id="Entry_text_description" class="card-text">Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                     <div class="row m-4 p-4">
                        <div class="col-sm-4">
                            <div class="card p-2" id="po" style="width:auto; height:auto;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="./assets/images/shareable_features/notifications.png" alt="">
                                        </div>
                                        <div class="col-lg-8 p-4">
                                            <p id="Entry_text_heading" class="card-title">Notifications</p>
                                            <p id="Entry_text_description" class="card-text">Gep</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card p-2" id="po" style="width:auto; height:auto;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="./assets/images/shareable_features/file manager.png" alt="">
                                        </div>
                                        <div class="col-lg-8 p-4">
                                            <p id="Entry_text_heading" class="card-title">File Manager</p>
                                            <p id="Entry_text_description" class="card-text">Gep</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card p-2" id="po" style="width:auto; height:auto;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="./assets/images/shareable_features/wordpress.png" alt="">
                                        </div>
                                        <div class="col-lg-8 p-4">
                                            <p id="Entry_text_heading" class="card-title">Wordpress</p>
                                            <p id="Entry_text_description" class="card-text">Administration</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-4 p-4">
                        <div class="col-sm-4">
                            <div class="card p-2" id="po" style="width:auto; height:auto;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="./assets/images/shareable_features/grapesjs.png" alt="">
                                        </div>
                                        <div class="col-lg-8 p-4">
                                            <p id="Entry_text_heading" class="card-title">GrapesJs</p>
                                            <p id="Entry_text_description" class="card-text">Administration</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card p-2" id="po" style="width:auto; height:auto;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="./assets/images/shareable_features/grid.png" alt="">
                                        </div>
                                        <div class="col-lg-8 p-4">
                                            <p id="Entry_text_heading" class="card-title">Grid</p>
                                            <p id="Entry_text_description" class="card-text">Connector</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card p-2" id="po" style="width:auto; height:auto;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="./assets/images/shareable_features/connector.png" alt="">
                                        </div>
                                        <div class="col-lg-8 p-4">
                                            <p id="Entry_text_heading" class="card-title">Default Icon</p>
                                            <p id="Entry_text_description" class="card-text">Connector</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header style="padding: 3%;">
                <mat-panel-title id="feature_heading">
                    <h3>Entities</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row mx-4 pl-5">
                <div class="col-3" *ngFor="let entity of projectEntity; let i= index">
                    <div class="card mt-3 p-2" id="op" style="width:27rem; height:12rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="./assets/images/project_components/entity.png" alt="" style="height:130px;width:100px;">
                                </div>
                                <div class="col-lg-8 p-3">
                                    <p id="Entry_text_heading" class="card-title">{{entity.name}}</p>
                                    <p id="Entry_text_description" class="card-text">{{entity.description}}</p>
                                    <div class="row pt-3">
                                        <div class="col-lg-3">
                                            <button class="btn btn-link" id="ent1" (click)="editEntityField(entity)">Edit</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <button class="btn btn-link" id="ent2" [disabled]="entity.is_default" (click)="openDeleteModel(entity)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-1 mx-4 p-4">
                    <button class="btn" id="ihcl" color="primary" (click)="saveEntityModel()">Add Entity</button>
                </div>
            </div>
        </mat-expansion-panel>
        <app-techarchitecture-manager></app-techarchitecture-manager>
        <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header style="padding: 3%;">
                <mat-panel-title id="feature_heading">
                    <h3>Menu Builder</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-menu-builder></app-menu-builder>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header style="padding: 3%;">
                <mat-panel-title id="feature_heading">
                    <h3>Template Manager</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-template-manager [projectId]="project_id"> </app-template-manager>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!-- ADD FEATURE DIALOG BOX -->
<div class="modal" tabindex="-1" data-keyboard="true" aria-hidden="true" data-backdrop="true" role="dialog" [ngStyle]="{'top': '100px','display':displayFeatureModel}">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="feature modal-content">
            <div class="modal-body">
                <div class="container p-3" style="background-color: #f7f6f6;">
                    <h1 id="add_feature_heading">Add Feature</h1>
                    <div class="row">
                        <mat-radio-group layout="row" [(ngModel)]="selectedOption">
                            <mat-radio-button class="col-lg-4" *ngFor="let option of options" [value]="option" (change)="radioChange($event)">
                                {{option}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <form #featurForm="ngForm">
                        <div class="form-group mt-3" *ngIf="showAddFeature || showImportFeature">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="featureInfo.name" (ngModelChange)="onFeatureChange($event)" #name="ngModel" [ngClass]="{ 'is-invalid':
                                featurForm.submitted && name.invalid }" required />
                            <div *ngIf="isFeatureExist" style="color: red">Feature name already exists!</div>
                            <div *ngIf="invalidName" style="color: red">Name must start with an alphabet.Special charaters are not allowed!</div>
                            <div *ngIf="isReserveWord" style="color: red">Name must not be a reserve word!</div>
                        </div>
                        <div class="form-group mt-3" *ngIf="showAddFeature || showImportFeature">
                            <label for="description">Description</label>
                            <ckeditor [editor]="Editor" name="description" id="editor" (ready)="onReady($event)" [(ngModel)]="featureInfo.description"></ckeditor>
                        </div>
                    </form>
                    <div class="row mt-4">
                        <div class="d-flex justify-content-center">
                            <div class="p-2 mt-4">
                                <button id="create_btn" class="btn btn-default" (click)="createFeature()">Create</button>
                            </div>
                            <div class="p-2 mt-4">
                                <button id="cancel_btn" type="button" class="btn btn-default" (click)="closeFeatureCreateModel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- To Delete Entity Popup model -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top':'100px','display':deletePopup}">
    <div class="modal-dialog modal-sm" role="dialog">
        <div class="modal-content">
            <div class="delete modal-body">
                <p>Are you sure to delete this entity?</p>
            </div>
            <div class="modal-footer" style="padding: 5px">
                <button type="button" class="btn btn-default" (click)="deleteEntityById()">Confirm</button> &nbsp;
                <button type="button" class="btn btn-default" (click)="closeDeleteModel()">Cancel</button>
            </div>
        </div>
    </div>
</div>