<div class="container left_align">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="card">
        <div class="main">
          <h3>Register</h3>
          <form role="form">
            <div class="form-group">
              <label>FirstName</label>
              <input type="text" class="form-control" [(ngModel)]="user.firstName" name="user">
            </div>
            <div class="form-group">
              <label>LastName</label>
              <input type="text" class="form-control" [(ngModel)]="user.lastName" name="user">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" [(ngModel)]='user.email' name="user">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" [type]="show ? 'text' : 'password'"
                [(ngModel)]="user.password" name='user' pw-show-hide="icon">
              <span class="hideeye">
                <i [ngClass]="show ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true" (click)="hideEye()"></i>
              </span>
            </div>
            <div class="center">
              <button type="submit" class="btn btn btn-primary login" (click)="signup(user)">
                submit
              </button>
            </div>

            <div class="rigister">
              <p class="center">Already Registered? <a [routerLink]="['']">Login here</a></p>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>