<mat-toolbar color="primary" class="desktop_only">
  <div class="headerLogo" [routerLink]="['/project']" >
      <img class="header_img1" src="/assets/img/skin/logo-geppetto.svg" />
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end">
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">


        <select #langselect  (change)="translate.use(langselect.value)" id="">
  
          
          <option *ngFor="let lang of usrlang"   [value]="lang">{{ lang  }}</option>
        
        </select>
        <a>{{'HOME.SIGNIN' | translate}}</a>
        <a>{{'HOME.ABOUT' | translate}}</a>
        
  
      </ul>
  </div>
</mat-toolbar>

<div class="mobile_only">
  <div id="myNav" class="overlay">
      <img class="header_img1" src="/assets/img/skin/logo-geppetto.svg" />
      <a href="javascript:void(0)" class="closebtn" (click)='closeNav()'>&times;</a>
      <div class="overlay-content">
          <a class="btn btn-secondary"  [routerLink]="['/login']" (click)='closeNav()'>SignIn</a>
          <a class="btn btn-secondary"  [routerLink]="['/login']" (click)='closeNav()'>About</a>

      </div>
  </div>
  <div class="container">
      <div class="row m_header">
          <div class="col">
              <img class="header_img" src="/assets/img/skin/logo-geppetto.svg" />
          </div>
          <div class="col menu_btn">
              <span style="font-size:30px;cursor:pointer" (click)='openNav()'>&#9776;</span>
          </div>
      </div>
  </div>
</div>

