#izil {
    border: 0 solid #444444;
    background-color: #1B2534;
}

.header1 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    min-height: 50px;
    color: #444;
    background-color: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

#i575rl {
    padding: 0 20px 0 20px;
    margin: 0 20px 0 0;
    max-width: 100%;
    width: 100%;
}

#iyp1im {
    min-height: 10px;
    padding: 10px 0 10px 0;
}

#header_logo {
    width: 200px;
    margin: 0 0 0 10%;
}

#inpxw9 {
    min-height: 10px;
    padding: 5px 5px 5px 0;
    flex: 0 1 auto;
    width: 17%;
}

#i11uk-2 {
    color: black;
}

.burger {
    margin: 5px 0 0;
    width: 45px;
    padding: 5px 10px;
    display: none;
    float: right;
    cursor: pointer;
}

.burger-line-dark {
    padding: 1px;
    background-color: #444;
    margin: 5px 0;
}

.burger-line {
    padding: 1px;
    background-color: #fff;
    margin: 5px 0
}

#i8smfs {
    min-height: 0;
    text-align: right;
    padding: 0 0 0 5px;
}

.cell,
.cell-gut,
.gdp-cell,
.gdp-cell-gut {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 5px
}

.cell-gut,
.gdp-cell-gut {
    padding-right: 15px
}

#i1t03 {
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 0;
}

.gdp-row,
.row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
    min-height: 75px;
    flex-direction: row
}

.gpd-grid {
    min-height: auto;
    padding: 10px 0;
}

#i8r2e {
    margin: 0 15px 0 0;
}

.gpd-clm {
    padding: 5px 0;
}

#iffpe {
    background-color: #2e3a4e;
}

#i4r7l-2 {
    flex: 0 1 auto;
    align-self: center;
    margin: 0 15px 0 0;
}

#idvlo-2 {
    height: 35px;
    width: 300px;
    font-size: 13px;
    padding: 1px 2px 1px 15px;
    color: #93A1B4;
}

#imllt {
    flex: 0 1 auto;
    align-self: center;
    margin: 0 15px 0 0;
}

#iwghy {
    cursor: pointer;
    // border-radius: 3em;
    color: #fff;
    background-image: linear-gradient(to right, #52daff 0%, #079dfa 100%);
    border: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
    padding: 11px 33px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

#lang_dropdown {
    cursor: pointer;
    // border-radius: 3em;
    color: #fff;
    background-image: linear-gradient(to right, #52daff 0%, #079dfa 100%);
    border: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
    padding: 15px 33px;
    height: 50px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

#iwghy:hover {
    background-image: none;
    background-color: #1b2534;
}

#lang_dropdown:hover {
    background-image: none;
    background-color: #1b2534;
}

#ifpp3 {
    flex: 0 1 auto;
    text-align: center;
    padding: 0 0 0 0;
    flex-basis: 5%;
    margin: 0 13px 0 0;
}

#ia7yc-2 {
    color: black;
    width: 73%;
    text-align: center;
}

#il636 {
    align-self: center;
    flex: 0 1 auto;
    flex-basis: 7%;
    padding: 0 0 0 0;
}

#iswww-2 {
    color: black;
}

.btn.btn-primary {
    background-color: #00789A;
    border: 0 solid rgb(0, 93, 192);
    padding: 6px 20px 6px 20px;
    transition: background-color 0.2s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

#nav1 {
    background-color: #1b2534;
}

@media (max-width:768px) {
    #lang_dropdown {
        cursor: pointer;
        // border-radius: 3em;
        color: #fff;
        background-image: linear-gradient(to right, #52daff 0%, #079dfa 100%);
        border: 0;
        font-family: 'Ubuntu', sans-serif;
        font-size: 23px;
        padding: 10px 28px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    #iwghy {
        cursor: pointer;
        // border-radius: 3em;
        color: #fff;
        background-image: linear-gradient(to right, #52daff 0%, #079dfa 100%);
        border: 0;
        font-family: 'Ubuntu', sans-serif;
        font-size: 23px;
        padding: 6px 28px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    #header_logo {
        width: 100px;
    }
    .gdp-row,
    .row {
        flex-wrap: wrap
    }
    .burger {
        display: block
    }
    .nav-items {
        display: none;
        width: 100%
    }
    #inpxw9 {
        height: 100%;
        width: 100%;
        padding: 5px 0 5px 0;
    }
    #i11uk-2 {
        width: 27%;
    }
    .cell-gut,
    .gdp-cell-gut {
        padding-right: 0
    }
    #i1t03 {
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }
    #i8r2e {
        margin: 0 0 0 0;
        flex: 0 1 auto;
    }
    #i4r7l-2 {
        text-align: right;
        margin: 0 0 0 auto;
    }
    #imllt {
        text-align: right;
        margin: 0 0 0 auto;
    }
    #ifpp3 {
        flex-basis: 4%;
        margin: 0 0 0 0;
    }
    #il636 {
        margin: 10px 0 0 auto;
    }
    #iswww-2 {
        max-width: 75%;
    }
}

@media (max-width: 415px) {
    #i11uk-2 {
        width: 50%;
    }
}

//About us css
.gpd-container {
    width: 90%;
    padding: 25px 0;
    margin: 0 auto;
    max-width: 1200px
}

.gpd-cnt {
    padding: 0;
}

.gpd-section {
    display: flex;
    padding: 50px 0
}

#igsgh {
    height: 90vh;
}

#i4dcs {
    margin: 0 auto 0 auto;
    width: 40%;
    height: 400px;
    padding: 0 0 0 0;
}

#i7skc {
    background-color: #F7F6F6;
    padding: 0 0 0 0;
    border-radius: 10px 10px 10px 10px;
    border: 8px solid #FFFFFF;
    height: 120%;
}

#iiwr1 {
    flex-direction: column;
    padding: 0 0 0 0;
}

#ixk6e {
    padding: 5px 15px 5px 15px;
}

#idapf {
    padding: 0 0 0 0;
}

#in0sl {
    text-align: center;
}

#ixixk {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #302C5E;
    font-size: 20px;
}

#ijc7k {
    padding: 0 0 0 0;
    text-align: right;
    align-self: center;
}

#ivare {
    width: 25%;
    margin: 0 0 0 auto;
}

#it9sw {
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 5px 3px rgba(194, 194, 194, 0.25);
    border-radius: 5px 5px 5px 5px;
    padding: 2px 0 5px 0;
    align-self: center;
}

#i3bzx {
    color: black;
    width: 35%;
}

#ikaoo {
    padding: 10px 25px 10px 25px;
}

#if2r9 {
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 20px 10px 30px 22px;
    margin: 15px 0 0 0;
}

#ivibj {
    flex-direction: column;
    padding: 5px 0 5px 0;
}

#iulkg {
    padding: 0 0 0 0;
}

#ion9w {
    color: #7F7F7F;
    font-family: Montserrat, sans-serif;
    padding: 5px 0 5px 10px;
    font-weight: 500;
    font-size: 15px;
}

#ierhw {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}

#i37ll {
    padding: 0 0 0 0;
}

#izvqi {
    color: #7F7F7F;
    font-family: Montserrat, sans-serif;
    padding: 5px 0 5px 10px;
    font-weight: 500;
    font-size: 15px;
}

#ihl6b {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}

#i2n1j {
    padding: 0 0 0 0;
}

#i4bql {
    color: #7F7F7F;
    font-family: Montserrat, sans-serif;
    padding: 5px 0 5px 10px;
    font-weight: 500;
    font-size: 15px;
}

#imw3k {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}

#i61kk {
    padding: 0 0 0 0;
}

#izfza {
    color: #7F7F7F;
    font-family: Montserrat, sans-serif;
    padding: 5px 0 5px 10px;
    font-weight: 500;
    font-size: 15px;
}

#i7ath {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    color: #766FD4;
    text-decoration: underline;
}

#iylnl {
    text-align: center;
    margin: 8px 0 0 0;
}

#i158z {
    background-color: #141E4F;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    padding: 10px 28px 10px 28px;
    border-radius: 8px 8px 8px 8px;
}

.gpd-link,
.gpd-link-box,
.gpd-text {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    vertical-align: top;
    padding: 10px;
    max-width: 100%
}

@media (max-width: 768px) {
    #igsgh {
        height: 100vh;
    }
    #i4dcs {
        width: 75%;
    }
    #ixk6e {
        white-space: nowrap;
    }
    #idapf {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

@media (max-width: 415px) {
    #igsgh {
        background-size: cover;
        padding: 20px 0 50px 0;
    }
    #i4dcs {
        width: 95%;
    }
}