<nav id="nav1" class="navbar navbar-expand-lg py-2 navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img id="header_logo" src="./assets/images/header/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <div id="i1t03" class="gdp-row gpd-grid">
                <button type="button" *ngIf="!hideElement" routerLink="/homepage" class="btn btn-default"><a routerLink="/homepage" id="a_style"><span>{{'HEADER.HOME' | translate}}</span></a></button>
                <div class="cell gpd-clm" id="imllt">
                    <select #langselect (change)="onChange(langselect.value)" class="btn btn-outline-dark me-4 py-2" id="lang_dropdown">
                        <option style="background-color:darkblue;"  *ngFor="let lang of display_langs"   [value]="lang">{{ lang  }}</option>
                      </select>
                    <button type="button" class="btn btn-default" (click)="showAbout()"><a id="a_style" (click)="showAbout()"><span>{{'HOME.ABOUT' | translate}}</span></a></button>
                    <button type="button" *ngIf="hideElement" routerLink="/login" class="btn btn-default"><a id="a_style" routerLink="/login"><span>{{'HEADER.SIGNIN' | translate}}</span></a></button>
                    <button type="button" *ngIf="!hideElement" (click)="Logout()" class="btn btn-default"><a id="a_style" (click)="Logout()"><span>{{'HEADER.LOGOUT' | translate}}</span></a></button>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal" id="model1" tabindex="-1" role="dialog" [ngStyle]="{'top':
  '100px','display':'none'}">
    <section class="gpd-section" id="igsgh">
        <div class="gpd-container gpd-cnt">
            <div class="gdp-row gpd-grid" id="i4dcs">
                <div class="cell gpd-clm" id="i7skc">
                    <div class="gdp-row gpd-grid" id="iiwr1">
                        <div class="cell gpd-clm" id="ixk6e">
                            <div class="gdp-row gpd-grid" id="idapf">
                                <div class="cell gpd-clm"></div>
                                <div class="cell gpd-clm" id="in0sl">
                                    <div class="gpd-text" id="ixixk">{{'ABOUT.ABOUT' | translate}}</div>
                                </div>
                                <div class="cell gpd-clm" id="ijc7k">
                                    <div class="gdp-row gpd-grid" id="ivare">
                                        <div class="cell gpd-clm" id="it9sw"><img id="i3bzx" (click)="hideAbout()" src="./assets/images/header/close.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell gpd-clm">
                            <div class="gdp-row gpd-grid" id="ikaoo">
                                <div class="cell gpd-clm" id="if2r9">
                                    <div class="gdp-row gpd-grid" id="ivibj">
                                        <div class="cell gpd-clm" id="iulkg">
                                            <div class="gpd-text" id="ion9w">{{'ABOUT.VERSION' | translate}}</div>
                                            <div class="gpd-text" id="ierhw">{{versionData.value}}</div>
                                        </div>
                                        <div class="cell gpd-clm" id="i37ll">
                                            <div class="gpd-text" id="izvqi">{{'ABOUT.BUILD_VERSION' | translate}}</div>
                                            <div class="gpd-text" id="ihl6b">{{buildVersionData.value}}</div>
                                        </div>
                                        <div class="cell gpd-clm" id="i2n1j">
                                            <div class="gpd-text" id="i4bql">{{'ABOUT.BUILD_DATE' | translate}}</div>
                                            <div class="gpd-text" id="imw3k">{{buildVersionDate.value | date: 'MMM d, y, h:mm:ss a'}}</div>
                                        </div>
                                        <div class="cell gpd-clm" id="i61kk">
                                            <div class="gpd-text" id="izfza">{{'ABOUT.LICENCE' | translate}}</div>
                                            <div class="gpd-text" id="i7ath">kdooannnallcna</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell gpd-clm" id="iylnl"><button type="button" (click)="hideAbout()" class="btn btn-primary" id="i158z">{{'ABOUT.CLOSE' | translate}}</button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>