<div id="in0sl" class="cell gpd-clm">
    <label for="frmg-5jgnoy1ong" id="irk8n">About</label>
</div>
<br>

<!-- getting json value  -->
<div style="text-align:left">
    <ul *ngFor="let item of aboutList">
        <h6>{{item.name}} {{item.code}} {{item.value}} <a href="/opensource"> {{item.link}} </a> </h6>
    </ul>
    <br>
    <div id="iylnl" class="cell gpd-clm">
        <div id="ioh83n" class="gdp-row gpd-grid">
            <div id="ievgxl" class="cell gpd-clm">
                <button id="i6nkfw" class="btn btn-primary" (click)="closeFunction()">Close</button>
                
            </div>
        </div>
    </div>

</div>