@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
#heading {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin: 5px 0 5px 0;
    color: #302C5E;
    white-space: nowrap;
}