<mat-expansion-panel>
    <!-- <ngx-spinner bdColor="rgba(231,220,220,0.33)" size="small" color="#b2acac" [fullScreen]="true">
        <img class="loading-image" src='../../assets/img/loading-animation.gif' />
    </ngx-spinner> -->
    <mat-expansion-panel-header style="padding: 3%;">
        <mat-panel-title id="heading">Technical Architecture</mat-panel-title>
    </mat-expansion-panel-header>
    <div style="padding-right: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-header col-md-4 col-lg-4 col-sm-6">
                    Client Properties
                </div>
                <div class="col-header col-md-4 col-lg-4 col-sm-6">
                    Server Properties
                </div>
                <div class="col-header col-md-4 col-lg-4 col-sm-6">
                    Deployment
                </div>
            </div>
            <!-- first -->
            <div class="row">
                <div class="techDropdown col-md-4 col-lg-4 col-sm-6">
                    <mat-form-field>
                        <mat-label>Client Development Languages</mat-label>
                        <br>
                        <mat-select [(ngModel)]="selected.clientLanguage" (ngModelChange)="onChange($event)" [compareWith]="compareById">
                            <mat-option *ngFor="let clientlanguage of technical.clientLanguage" [value]="clientlanguage">
                                {{clientlanguage.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="techDropdown col-md-4 col-lg-4 col-sm-6">
                    <mat-form-field>
                        <mat-label>Server Development Language</mat-label>
                        <br>
                        <mat-select [(ngModel)]="selected.serverLanguage" (ngModelChange)="onChange($event)" [compareWith]="compareById">
                            <mat-option *ngFor="let serverlanguage of technical.serverLanguage" [value]="serverlanguage">
                                {{serverlanguage.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="techDropdown col-md-4 col-lg-4 col-sm-6">
                    <mat-form-field>
                        <mat-label>Deployment Target</mat-label>
                        <br>
                        <mat-select [(ngModel)]="selected.deploymentTarget" (ngModelChange)="onChange($event)" [compareWith]="compareById">
                            <mat-option *ngFor="let target of technical.deploymentTarget" [value]="target">
                                {{target.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- second -->
            <div class="row">
                <div class="techDropdown col-md-4 col-lg-4 col-sm-6">
                    <mat-form-field>
                        <mat-label>Client Development Frameworks</mat-label>
                        <br>
                        <mat-select [(ngModel)]="selected.clientFramework" (ngModelChange)="onChange($event)" [compareWith]="compareById">
                            <mat-option *ngFor="let clientframework of technical.clientFramework" [value]="clientframework">
                                {{clientframework.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="techDropdown col-md-4 col-lg-4 col-sm-6">
                    <mat-form-field>
                        <mat-label>Server Development Framework</mat-label>
                        <mat-select [(ngModel)]="selected.serverFramework" (ngModelChange)="onChange($event)" [compareWith]="compareById">
                            <mat-option *ngFor="let serverframework of technical.serverFramework" [value]="serverframework">
                                {{serverframework.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="techDropdown col-md-4 col-lg-4 col-sm-6">
                    <mat-form-field>
                        <mat-label>Deployment Server</mat-label>
                        <mat-select [(ngModel)]="selected.deploymentServer" (ngModelChange)="onChange($event)" [compareWith]="compareById">
                            <mat-option *ngFor="let deploymentserver of technical.deploymentServer" [value]="deploymentserver">
                                {{deploymentserver.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- third -->
            <div class="row">
                <div class="techDropdown col-md-4 col-lg-4 col-sm-6">

                </div>
                <div class="techDropdown col-md-4 col-lg-4 col-sm-6">
                    <mat-form-field>
                        <mat-label>DataBase</mat-label>
                        <mat-select [(ngModel)]="selected.database" (ngModelChange)="onChange($event)" [compareWith]="compareById">
                            <mat-option *ngFor="let database of technical.database" [value]="database">
                                {{database.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="techDropdown col-md-4 col-lg-4 col-sm-6">
                </div>
            </div>
        </div>
    </div>
</mat-expansion-panel>