<section>
    <div class="container-fluid fill">
        <div id="map" class="row">
            <div class="col-lg-7" id="imysg">
                <img id="ihygk" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/7aa5befb081c4c4ab410f00c9823454e_geplblue.png" />
            </div>
            <div class="col-lg-5 px-5 pt-5" style="margin-top:3%;">
                <form [formGroup]="registerform">
                    <div id="full_div" formGroupName="registerdata">
                        <h1 id="i39ya">Please Register</h1>

                        <div class="row">
                            <div class="col-lg-12">
                                <input type="text" formControlName="firstname" id="fname_input" placeholder="FirstName" class="form-control my-4 p-3">
                                <span *ngIf="!registerform.get('registerdata.firstname').valid && registerform.get('registerdata.firstname').touched || !registerform.get('registerdata.firstname').valid && submitted" class="invalid-feedback ">
                                    Must be a valid FirstName
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="text" formControlName="lastname" id="lname_input" placeholder="LastName" class="form-control my-4 p-3">
                                <span *ngIf="!registerform.get('registerdata.lastname').valid && registerform.get('registerdata.lastname').touched || !registerform.get('registerdata.lastname').valid && submitted" class="invalid-feedback ">
                                    Must be a valid LastName
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="text" formControlName="email" id="email_input" placeholder="Email" class="form-control my-4 p-3">
                                <span *ngIf="!registerform.get('registerdata.email').valid && registerform.get('registerdata.email').touched || !registerform.get('registerdata.email').valid && submitted" class="invalid-feedback ">
                                    Must be a valid Email Id
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="text" formControlName="password" id="password_input" placeholder="Password" class="form-control my-4 p-3">
                                <span *ngIf="!registerform.get('registerdata.password').valid && registerform.get('registerdata.password').touched || !registerform.get('registerdata.password').valid && submitted" class="invalid-feedback ">
                                    A Password must be 8 character and must have a Uppercase , Lowercase and a Special character
                                </span>
                            </div>
                        </div>
                        <div class="row" id="btn">
                            <div class="col-lg-12">
                                <button id="btn1" (click)="register()" class="btn btn btn-info  p-3">Register</button>
                                <span class="invalid-feedback ">
                                    {{errormessage}}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 p-4">
                                <p>Already registered? <a href="" routerLink="/login"><u>Login here</u></a></p>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>