<section id="i307x" class="gpd-section">
    <div id="iz59b" class="gpd-container gpd-cnt">
        <div id="i4a8d" class="gdp-row gpd-grid">
            <div id="izo03" class="cell gpd-clm">
                <div id="iu1f2" class="gdp-row gpd-grid">
                    <div id="ivbp5" class="cell gpd-clm"><img id="ibrd5" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/0272c5a841914ce4b17911d923cc138f_group_17224.png" />
                    </div>
                    <div id="iw4wh" class="cell gpd-clm">
                        <div id="i7lpe" class="gpd-text">{{'HOME.HEADING1' | translate}}<br>​​​​​​​{{'HOME.HEADING2' | translate}}</div>
                    </div>
                    <div id="ishz7" class="cell gpd-clm"><button type="button" id="i55xt" class="btn btn-primary">{{'HOME.SIGNUP' | translate}}</button><button type="button" id="iba96" class="btn btn-primary">{{'HOME.LOGIN' | translate}}</button></div>
                </div>
            </div>
            <div id="imysg" class="cell gpd-clm">
                <div id="ia17i" class="gdp-row gpd-grid">
                    <div id="i4b93" class="cell gpd-clm"><img id="ihygk" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/54d06e4405374d05ae388649457aba65_image_8.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>