<section id="i307x" class="gpd-section">
    <div id="iz59b" class="gpd-container gpd-cnt">
        <div id="i4a8d" class="gdp-row gpd-grid">
            <div id="izo03" class="cell gpd-clm">
                <div id="iu1f2" class="gdp-row gpd-grid">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="card card-body bg-light" id="card_style">
                                    <img id="card_logo" src="./assets/images/header/logo.png" />
                                    <h1 id="heading_tag">{{'HOME.HEADING1' | translate}} ​​​​​​​{{'HOME.HEADING2' | translate}}</h1>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="signup_btn">
                                            <button type="button" routerLink="/signup" id="i55xt" class="btn btn-primary">{{'HOME.SIGNUP' | translate}}</button>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="login_btn">
                                            <button type="button" routerLink="/login" id="iba96" class="btn btn-primary">{{'HOME.LOGIN' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="imysg" class="cell gpd-clm">
                <div id="ia17i" class="gdp-row gpd-grid">
                    <div id="i4b93" class="cell gpd-clm"><img id="ihygk" src="./assets/images/homepage/banner.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>